<link rel="stylesheet" href="styles/blog.css">
<div class="blog-masthead">
  <div class="container" ng-include src="'views/headers/header.html'"></div>
</div>
<div class="container">
  <div class="row">
    <div class="blog-main">
      <div class="blog-post">
        <div class="panel panel-default blog-post">
          <div class="panel-body">
            <div class="blog-info">
              <ul class="list-inline">
                <li><span class="glyphicon glyphicon-user"></span> {{comment.name}}</li>
                <li><span class="glyphicon glyphicon-envelope"></span> {{comment.email}}</li>
                <li><span class="glyphicon glyphicon-calendar"></span> {{comment.created}}</li>
              </ul>
            </div>
            <div class="blog-post-body">
              <p ng-bind-html="displayHtml(comment.body);"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.blog-main -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

